* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  background: #131321;
  font-family: 'Roboto', sans-serif;
}

header {
  background: #131321;
  padding: 18px;

  justify-content: center;
  display: flex;
  align-items: center;
}

header a {
  color: white;
  text-decoration: none;

  margin: 10px;
}